{% extends "base.html" %}


{% block "content" %}

<style>
.form {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.form input {
  text-align: center;
  width: 100%;
  clear: both;
  color: black;
  font-weight: bold;
}
</style>

    <title>Vartotojo Registracija</title>

    <h1 style="text-align: center; color: white; font-weight: bold;">Registracija</h1>

    {% if klaida %}
    <p>{{ klaida }}</p>
    {% endif %}
<div class="form">
    <form method="POST">
        <br>
        {% csrf_token %}

        <label for="first_name">Vardas:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <label for="last_name">Pavardė:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <label for="phone">Telefonas:</label>
        <input type="text" id="phone" name="phone" placeholder="Turite įvesti mažiausiai 9 simbolius" pattern="^\+?[0-9]{9,}$" required><br><br>

        <label for="email">Elektroninis paštas:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Slaptažodis:</label>
        <input type="password" id="password" name="password" placeholder="Iš 8 simbolių iš jų 2 skaičiai, 1 didžioji ir mažoji raidė" pattern="^(?=.*\d.*\d)(?=.*[A-Z])(?=.*[a-z]).{8,}$" required><br><br>

        <input type="submit" value="Registruotis" style="color: black; font-weight: bold;">
    </form>
</div>

{% endblock %}
