{% extends "base.html" %}
{% block "content" %}




 <h1 class="Augalas2">Augalo Informacija</h1> <br>
    <div class="Augalo_detail">

                <h3> <strong> Augalo nuotrauka:  </strong>{{ augalas.nuotrauka }} </h3><br>
                <h3> <strong> Augalo kategorija:  </strong>{{ augalas.kategorija }} </h3><br>
                <h5> <strong>Augalo pavadinimas:  </strong>{{ augalas.pavadinimas }}</h5><br>
                <strong>Augalo veislė:  </strong>{{ augalas.veisle }} <br>
                <br> <strong>Augalų kiekis:  </strong>{{ augalas.kiekis }} <br>
                {% if augalas.talpos_dydis %}
                <br> <strong>Vazono - daigyklos talpa:  </strong>{{ augalas.talpos_dydis }}<br>
                {% endif %}
                <br> <strong>Augalo sėjimo-sodinimo data:  </strong>{{ augalas.sejimo_arba_sodinimo_data | date:'Y-m-d'}} <br>
                <br> <strong>Augalo sėjimo-sodinimo vieta:  </strong>{{ augalas.sejimo_arba_sodinimo_vieta}} <br>
                {% if augalas.zemiu_rusis %}
                <br><strong>Augalo sėjimo-sodinimo vietos žemių rūšis:  </strong>{{ augalas.zemiu_rusis }}<br>
                {% endif %}
                {% if augalas.pastabos %}
                <br><strong>Pastabos:  </strong>{{ augalas.pastabos }}<br>
                {% endif %}
    </div>




{% endblock %}

