{% extends "base.html" %}
{% block "content" %}

 <h1 class="Augalas1">Augalai</h1> <br>


<table class="table table-striped table-hover">
    {% for augalas in object_list %}
    <tr>
        <td>
            <a class="Augalo_list" href="{% url 'augalo-id' augalas.id %}">
                {{ augalas.pavadinimas }} -
                {{ augalas.veisle }} -
                {{ augalas.kategorija }}
            </a>

            <span class="sejimo-data">Sėjimo - Sodinimo data: {{ augalas.sejimo_arba_sodinimo_data | date:'Y-m-d'}}</span>
        </td>


        <td>
            <a href="{% url 'augalo_koregavimas' augalas.id %}">
                <input class="btn btn-info btn-sm" type="submit" value="Redaguoti">
            </a>
        </td>


         <td>
            <form method="post" action="{% url 'augalo_pasalinimas' augalas.pk %}">
            {% csrf_token %}
            <input class="btn btn-danger btn-sm" type="submit" value="Pašalinti">
            </form>
         </td>
    </tr>
    {% endfor %}
</table>

{% include 'pagination.html' %}

{% endblock %}


