{% extends "base.html" %}
{% block "content" %}

 <h1 class="pirma">Augalai</h1> <br>

<ul>

    {% for augalas in object_list %}
        <li>

            <a href="{% url 'augalo-id' augalas.id %}"></a><br>

                <br>Augalo kategorija: {{ augalas.kategorija }}<br>
                <br>Augalo pavadinimas: {{ augalas.pavadinimas }} <br>
                <br>Augalo veislė: {{ augalas.veisle }} <br>
                <br>Augalų kiekis: {{ augalas.kiekis }} <br>
                {% if augalas.talpos_dydis %}
                <br>Vazono - daigyklos talpa: {{ augalas.talpos_dydis }}<br>
                {% endif %}
                <br>Augalo sėjimo-sodinimo data: {{ augalas.sejimo_arba_sodinimo_data }} <br>
                <br>Augalo sėjimo-sodinimo vieta: {{ augalas.sejimo_arba_sodinimo_vieta}} <br>
                {% if augalas.zemiu_rusis %}
                <br>Augalo sėjimo-sodinimo vietos žemių rūšis: {{ augalas.zemiu_rusis }}<br>
                {% endif %}
                {% if augalas.pastabos %}
                <br>Pastabos: {{ augalas.pastabos }}<br>
                {% endif %}

        </li>
    {% endfor %}
</ul>

{% endblock %}