{% extends "base.html" %}
{% block "content" %}

<style>
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

 p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
</style>


    <h1>Sveiki atvykę į DARŽO PADĖJĖJO svetainę !!!</h1>


  <section>
        <p>
            <strong>Šiame puslapyje vartotojai gali pridėti savo augalus, jiems priskirti daržo ir augalų priežiūros darbus.<br>
            Taip pat, galima sekti ir augalų derliaus kiekį, laikymo laikotarpį ir pan...</strong>
        </p>
  </section>

{% endblock %}


