
/* Darzas_detail */

    .Darzas2 {
        position: relative;
        right: -80px;
        top: 10px;
    }

    .Darzo_detail {
        position: relative;
        right: -80px;
        top: 10px;
    }

/* Darzas_list */

    .Darzas1 {
        position: relative;
        right: -80px;
        top: 10px;
    }

    .Darzo_list {
        position: relative;
        right: -80px;
    }

/* Darzo__darbo_detail */

    .Darbas2 {
        position: relative;
        right: -80px;
        top: 10px;
    }

    .Darbo_detail {
        position: relative;
        right: -80px;
        top: 10px;
    }

/* Darzo__darbo_list */

    .Darbas1 {
        position: relative;
        right: -80px;
        top: 10px;
    }

    .Darbas_list {
        position: relative;
        right: -80px;
    }

/* Darzo__derliaus_detail */

    .Derlius2 {
        position: relative;
        right: -80px;
        top: 10px;
    }

    .Derliaus_detail {
        position: relative;
        right: -80px;
        top: 10px;
    }

/* Darzo__derliaus_list */

    .Derlius1 {
        position: relative;
        right: -80px;
        top: 10px;
    }

    .Derlius_list {
        position: relative;
        right: -80px;
    }

    .Darzo_derliaus-data {
        text-decoration: none;
        margin: 100px;
    }

/* Darzo__prieziura_detail */

    .Prieziura2 {
        position: relative;
        right: -80px;
        top: 10px;
    }

    .Prieziura_detail {
        position: relative;
        right: -80px;
        top: 10px;
    }

/* Darzo__prieziura_list */

    .Prieziura1 {
        position: relative;
        right: -80px;
        top: 10px;
    }

    .Prieziura_list {
        position: relative;
        right: -80px;
    }

     .Prieziuros_data {
        text-decoration: none;
        margin: 100px;
     }