    .helptext {
        display:none;
    }

    body {
        padding-bottom: 80px;
    }


    footer {
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px;
        background: #000000;
        color:  #E0E0E0;
        font-size: 20px;
        z-index: 1;
    }


/* Augalas_detail */

    .Augalas2 {
        position: relative;
        right: -80px;
        top: 10px;
        color: white;
    }
     .Augalo_detail {
        position: relative;
        right: -80px;
        top: 10px;
        color: white;
    }

/* Augalas_List */

    .Augalas1 {
        position: relative;
        right: -80px;
        top: 10px;
        color: white;
    }

    .Augalo_list {
        position: relative;
        right: -80px;
    }

     .sejimo-data {
        text-decoration: none;
        margin: 100px;
     }

/* Naujas_augalas */

    .naujas_augalas {
        color: white;
    }


/* Pradinis_puslapis */

    .Pradinis {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        color: white;
    }

    .Pradinis1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        color: white;
        font-size: 25px;
    }

/* Paieškos_puslapis */

    .centravimas {
        text-align: center;
    }

    .Paieškos_spalva {
        color: white;
    }

