.helptext {
display:none;
}

body {
  padding-bottom: 80px;
}







footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background: #000000;
  color:  #E0E0E0;
  font-size: 20px;
  z-index: 1;
}
