{% extends "base.html" %}
{% block "content" %}

<style>
    .Derlius2 {
        position: relative;
        right: -80px;
        top: 10px;
    }

    .Derliaus_detail {
        position: relative;
        right: -80px;
        top: 10px;
    }
</style>

 <h1 class="Derlius2">Daržo Derlius</h1> <br>

    <div class="Derliaus_detail">

                        <br> <strong>Augalo pavadinimas ir veislė: </strong>{{ darzoderlius.augalas }}<br>
                        {% if darzoderlius.derliaus_nuemimo_data %}
                        <br> <strong>Daržo derliaus nuėmimo data: </strong>{{ darzoderlius.derliaus_nuemimo_data | date:'Y-m-d'}}<br>
                        {% endif %}
                        {% if darzoderlius.derliaus_kiekis %}
                        <br> <strong>Derliaus kiekis: </strong>{{ darzoderlius.derliaus_kiekis }}<br>
                        {% endif %}
                        {% if darzoderlius.derliaus_sandeliavimo_vieta %}
                        <br> <strong>Derliaus laikymo vieta: </strong>{{ darzoderlius.derliaus_sandeliavimo_vieta }}<br>
                        {% endif %}
                        {% if darzoderlius.derliaus_laikymo_laikotarpis %}
                        <br> <strong>Derliaus laikymo laikoratpis: </strong>{{ darzoderlius.derliaus_laikymo_laikotarpis }}<br>
                        {% endif %}


    </div>

{% endblock %}