{% extends "base.html" %}
{% block "content" %}

<style>
    .Darbas1 {
        position: relative;
        right: -80px;
        top: 10px;
    }

    .Darbas_list {
        position: relative;
        right: -80px;
    }

</style>

 <h1 class="Darbas1">Daržo darbų sąrašas</h1> <br>

<table class="table table-striped table-hover">
    {% for darzodarbas in object_list %}
    <tr>
        <td>
            <div class="Darbas_list">
                {{ darzodarbas.pavadinimas }}
            </div>
        </td>


        <td>
            <a href="{% url 'darbo_koregavimas' darzodarbas.id %}">
                <input class="btn btn-info btn-sm" type="submit" value="Redaguoti">
            </a>
        </td>


        <td>
            <form method="post" action="{% url 'darbo_pasalinimas' darzodarbas.pk %}">
            {% csrf_token %}
            <input class="btn btn-danger btn-sm" type="submit" value="Pašalinti">
            </form>
        </td>

    </tr>
    {% endfor %}
</table>

{% include 'pagination.html' %}

{% endblock %}l>