{% extends "base.html" %}
{% block "content" %}

 <h1 class="Darzas2">Daržo informacija</h1> <br>

    <div class="Darzo_detail">

                <br> <strong>Augalo pavadinimas ir veislė: </strong>{{ darzas.augalas }}<br>
                {% if darzas.pikiavimo_data %}
                <br> <strong>Augalų pikiavimo data: </strong>{{ darzas.pikiavimo_data | date:'Y-m-d'}}<br>
                {% endif %}
                <br> <strong>Augalų persodinimo vieta: </strong>{{ darzas.persodinimo_vieta }} <br>
                <br> <strong>Augalų užsodinimo plotas: </strong>{{ darzas.augalo_uzsodinimo_plotas }} <br>

    </div>

{% endblock %}