{% extends "base.html" %}
{% block "content" %}

<style>
    .Derlius1 {
        position: relative;
        right: -80px;
        top: 10px;
    }

    .Derlius_list {
        position: relative;
        right: -80px;
    }

    .Darzo_derliaus-data {
        text-decoration: none;
        margin: 100px;
    }

</style>

 <h1 class="Derlius1">Daržo Derlius</h1> <br>


<table class="table table-striped table-hover">
    {% for darzoderlius in object_list %}
    <tr>
        <td>
            <a class="Derlius_list" href="{% url 'derliaus_id' darzoderlius.id %}">
                {{ darzoderlius.augalas.pavadinimas }} -
                {{ darzoderlius.augalas.veisle }}
            </a>

            <span class="Darzo_derliaus-data">Derliaus nuėmimo data: {{ darzoderlius.derliaus_nuemimo_data | date:'Y-m-d' }}</span>

        </td>


        <td>
            <a href="{% url 'darzo_derliaus_redagavimas' darzoderlius.id %}">
                <input class="btn btn-info btn-sm" type="submit" value="Redaguoti">
            </a>
        </td>



        <td>
            <form method="post" action="{% url 'derliaus_pasalinimas' darzoderlius.pk %}">
            {% csrf_token %}
            <input class="btn btn-danger btn-sm" type="submit" value="Pašalinti">
            </form>
         </td>


    </tr>
    {% endfor %}
</table>

{% include 'pagination.html' %}

{% endblock %}
