{% extends "base.html" %}
{% block "content" %}

<style>
    .Darzas1 {
        position: relative;
        right: -80px;
        top: 10px;
    }

    .Darzo_list {
        position: relative;
        right: -80px;
    }
</style>

 <h1 class="Darzas1">Daržas</h1> <br>

<table class="table table-striped table-hover">
    {% for darzas in object_list %}
    <tr>
        <td>
            <a class="Darzo_list" href="{% url 'darzo-id' darzas.id %}">
                {{ darzas.augalas.pavadinimas }} -
                {{ darzas.augalas.veisle }}
            </a>
        </td>


        <td>
            <a href="{% url 'darzo_koregavimas' darzas.id %}">
                <input class="btn btn-info btn-sm" type="submit" value="Redaguoti">
            </a>
        </td>


        <td>
            <form method="post" action="{% url 'darzo_pasalinimas' darzas.pk %}">
            {% csrf_token %}
            <input class="btn btn-danger btn-sm" type="submit" value="Pašalinti">
            </form>
         </td>

    </tr>
    {% endfor %}
</table>

{% include 'pagination.html' %}

{% endblock %}