{% extends "base.html" %}
{% block "content" %}

 <h1 class="Prieziura2">Daržo informacija</h1> <br>

    <div class="Prieziura_detail">

                        <br> <strong>Augalo pavadinimas ir veislė: </strong>{{ darzoprieziura.darzas.augalas }}<br>
                        {% if darzoprieziura.augalu_prieziuros_data %}
                        <br> <strong>Augalų priežiuros data: </strong>{{ darzoprieziura.augalu_prieziuros_data | date:'Y-m-d'}}<br>
                        {% endif %}
                        <br> <strong>Daržo darbas: </strong>{{ darzoprieziura.darzodarbai }} <br>
                        {% if darzoprieziura.augalu_prieziuros_informacija %}
                        <br> <strong>Detalesnė augalu priežiūros informacija: </strong>{{ darzoprieziura.augalu_prieziuros_informacija }}<br>
                        {% endif %}
                        {% if darzoprieziura.pastabos %}
                        <br> <strong>Pastabos: </strong>{{ darzoprieziura.pastabos }}<br>
                        {% endif %}


    </div>

{% endblock %}
